
.background{

  width: 100vw;
  height: 100vh;
}

.img{
  width: 100%;
  height: 100%;
  justify-content: center;
}
#h1{

}
#Mid{
  align-items: center;
  position: absolute;
  right: 50%;
  bottom:80%;
  width: 15%;
}