
.background{

  width: 100vw;
  height: 100vh;
}

.img{
  width: 100%;
  height: 100%;
  justify-content: center;
}
h1{
text-align: center;
}
#Mid{
  align-items: center;
  position: absolute;
  right: 42%;
  bottom:80%;
  width: 15%;
  font-size: 2em;
}
#Adc{
  align-items: center;
  position: absolute;
  right: 22%;
  bottom:80%;
  width: 15%;
  font-size: 2em;
}
#Support{
  align-items: center;
  position: absolute;
  right: 3%;
  bottom:80%;
  width: 15%;
  font-size: 2em;
}
#Jungle{
  align-items: center;
  position: absolute;
  right: 62%;
  bottom:80%;
  width: 15%;
  font-size: 2em;
}
#Top{
  align-items: center;
  position: absolute;
  right: 82%;
  bottom:80%;
  width: 15%;
  font-size: 2em;
}